<!-- <h3 *ngIf="products; else noProduct">{{ title }}</h3> -->
<app-category></app-category>

<div class="mb-3">
  <input
    class="form-control"
    id="productName"
    placeholder="Arama metninizi giriniz."
    [(ngModel)] = "filterText" 
  />
  <!-- Köşeli parantez içine normal parantez olan yapıya banana notation deniyor. Bizim ürün aramamızı yaparken yazdığımız
    harfleri içinde barındıran ürünleri listeleyebilmemiz için bu arama kutusu ile yazdığımız filterText pipe'ını birbirine bağlamamız lazım. 
  Yukarıdaki kodda ngModel ekliyoruz filterText'e eşitliyoruz. Bu şu demek; buradaki inputu filtertext'e bağla.
Buna da two-way data binding (İki yönlü veri bağlama) deniyor. Daha önce {{}} çift küme parantezi kullanıyorduk buna one-way data binding deniyordu.
 -->
  <div *ngIf = "filterText" class="form-text">
    Şu an <strong> {{filterText}} </strong> aradınız.
  </div>
</div>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride ürün yoktur.
    </div>
  </ng-template>

  <div *ngFor="let product of products | productFilter: filterText" class="card" style="width: 18rem">
    <img [src]="product.imageUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name | uppercase }}
        {{ product.price | currency: "USD":true:"1.2-2" }}
      </h5>
      <!--Üstteki h5 tag'i içerisine product.name'den sonra building pipe ekleyebiliyoruz. O da aşağıdaki
      gibi ekleniyor. Mesela aşağıdaki uppercase pipe'ı yazıların tüm harflerini büyük harfle yazmaya yarıyor.
    Yine başka bir pipe ise USD para birimi eklemedir. Para birimi sembolü gözüksün istersek true ya da symbol yazarız. dolar işareti
  gözükmesin ama USD yazsın istersek false olarak kullanırız. Yandaki sayılar da virgülden sonra kaç hane yazılacağı ve ayracın virgül mü
  yoksa nokta mı olacağı ile ilgilidir. Türk lirası işareti istiyorsak malesef cstom pipeline yazmalıyız.-->

      <!--
    Pipe işareti "|" budur. Pipe mantığında paremetreler ":" (iki nokta üst üste) işareti ile birbirinden ayrılır.
  -->
      <!-- <h5 class="card-title">{{product.name | uppercase }} {{product.price | currency: 'USD':true:"1.2-2"}}</h5> -->
      <p class="card-text">
        {{ product.description }}
      </p>
      <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
      <!--Yukarıdaki kodda EventBinding yapıyoruz. addToCart operasyonun ismidir product.component.ts dosyasında tanımlanmıştır. 
      Product componentinin içinde addToCart diye bir fonksiyon var. Aslında biz onu çağırdık buraya.-->
    </div>
  </div>
</div>
